<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>E&Q Online</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

  <link rel="icon" href="/resources/admin/images/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" type="text/css" href="/resources/admin/plugins/datatables/datatables.css"/>

  <link rel="stylesheet" href="/resources/admin/plugins/select2/select2.min.css">  

  <link rel="stylesheet" href="/resources/admin/dist/css/adminlte.min.css">

  <style>
    .full {
      background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .8)), url('/resources/admin/images/af.jpg') fixed center no-repeat;
      background-size: cover;
      height: 100vh;
    }

    .nav-treeview i {
      margin-left: 10px;
    }

    .materialColor {
      background-color: #bdc3c7;
    }

    .serviceColor {
      background-color: #7f8c8d;
    }

  </style>

</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">

    <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href=""><i class="fa fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="/admin" class="nav-link text-uppercase">Painel de Administração</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">

        <li class="nav-item d-sm-inline-block">
          <a href="/admin/logout" class="nav-link font-weight-bold" onclick="return confirm('Você realmente deseja sair?')">Sair</a>
        </li>

      </ul>

    </nav>

    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <a href="/admin" class="brand-link">
        <span class="brand-text font-weight-light" style="margin-left: 20px;">E&Q Online</span>
      </a>

      <div class="sidebar">

        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

           <li class="nav-item has-treeview menu-closed">

            <a href="" class="nav-link upper-item">
              <i class="nav-icon fa fa-clock"></i>
              <p>
                Ponto
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>

            <ul class="nav nav-treeview">

              <li class="nav-item">
                <a href="/admin/log/register" class="nav-link">
                  <i class="fa fa-door-open nav-icon"></i>
                  <p>Entrada e Saída</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="/admin/log/records" class="nav-link">
                  <i class="fa fa-search nav-icon"></i>
                  <p>Registros</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="/admin/log/absences" class="nav-link">
                  <i class="fa fa-user-injured nav-icon"></i>
                  <p>Faltas</p>
                </a>
              </li>

            </ul>

          </li>

          <li class="nav-item">
            <a href="/admin/users" class="nav-link upper-item">
              <i class="nav-icon fa fa-users"></i>
              <p>Usuários</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/admin/suppliers" class="nav-link upper-item">
              <i class="nav-icon fa fa-hands-helping"></i>
              <p>Fornecedores</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/admin/clients" class="nav-link upper-item">
              <i class="nav-icon fa fa-users-cog"></i>
              <p>Clientes</p>
            </a>
          </li>

          <li class="nav-item has-treeview menu-closed">

            <a href="" class="nav-link upper-item">
              <i class="nav-icon fa fa-shuttle-van"></i>
              <p>
                Transporte
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>

            <ul class="nav nav-treeview">

              <li class="nav-item">
                <a href="/admin/transport/vehicles" class="nav-link">
                  <i class="fa fa-car nav-icon"></i>
                  <p>Veículos</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="/admin/transport/travels" class="nav-link">
                  <i class="fa fa-globe-americas nav-icon"></i>
                  <p>Viagens</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="/admin/transport/refuels" class="nav-link">
                  <i class="fa fa-gas-pump nav-icon"></i>
                  <p>Abastecimentos</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="/admin/transport/maintenances" class="nav-link">
                  <i class="fa fa-car-crash nav-icon"></i>
                  <p>Manutenções</p>
                </a>
              </li>

            </ul>

          </li>

          <li class="nav-item has-treeview menu-closed">

            <a href="" class="nav-link upper-item">
              <i class="nav-icon fa fa-warehouse"></i>
              <p>
                Almoxarifado
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>

            <ul class="nav nav-treeview">

              <li class="nav-item">
                <a href="/admin/warehouse/products" class="nav-link">
                  <i class="fa fa-archive nav-icon"></i>
                  <p>Produtos</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="/admin/warehouse/reports" class="nav-link">
                  <i class="fa fa-file-contract nav-icon"></i>
                  <p>Relatórios</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="/admin/warehouse/toolboxes" class="nav-link">
                  <i class="fa fa-toolbox nav-icon"></i>
                  <p>Maletas</p>
                </a>
              </li>

            </ul>

          </li>

          <li class="nav-item">
            <a href="/admin/proposals" class="nav-link upper-item">
              <i class="nav-icon fa fa-file-signature"></i>
              <p>Propostas</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/admin/orders" class="nav-link upper-item">
              <i class="nav-icon fa fa-dollar-sign"></i>
              <p>Ordens de Serviço</p>
            </a>
          </li>

          <li class="nav-item has-treeview menu-closed">

            <a href="" class="nav-link upper-item">
              <i class="nav-icon fa fa-file-invoice-dollar"></i>
              <p>
                Contas
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>

            <ul class="nav nav-treeview">

              <li class="nav-item">
                <a href="/admin/bills/ccs" class="nav-link">
                  <i class="fa fa-ring nav-icon"></i>
                  <p>Contas Contábeis</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="/admin/bills/to-pay" class="nav-link">
                  <i class="fa fa-file-upload nav-icon"></i>
                  <p>A Pagar</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="/admin/bills/to-receive" class="nav-link">
                  <i class="fa fa-file-download nav-icon"></i>
                  <p>A Receber</p>
                </a>
              </li>

            </ul>

          </li>

        </ul>
      </nav>
    </div>
  </aside>