<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Editar Abastecimento</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/admin">Início</a></li>
            <li class="breadcrumb-item"><a href="/admin/transport/refuels">Abastecimentos</a></li>
            <li class="breadcrumb-item active">Editar Abastecimento</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Informações</h3>
            </div>

            <form role="form" action="/admin/transport/refuels/{$refuel.id_refuel}" method="post">

              <div class="card-body">

                <div class="form-group">
                  <label>Motorista</label>
                  <select class="form-control select2" name="des_user_name" style="width: 100%">
                    {loop="$users"}
                    <option {if="$value.des_name == $refuel.des_user_name"}selected{/if}>{$value.des_name}</option>
                    {/loop}
                  </select>
                </div>

                <div class="form-group">
                  <label>Data do Abastecimento</label>
                  <input type="date" class="form-control" name="dt_travel" value="{$refuel.dt_travel}" required />
                </div>

                <div class="form-group">
                  <label>Descrição do Veículo</label>
                  <select class="form-control select2" name="des_description" style="width: 100%">
                    {loop="$vehicles"}
                    <option {if="$value.des_description == $refuel.des_description"}selected{/if}>{$value.des_description}</option>
                    {/loop}
                  </select>
                </div>
                
                <div class="form-group">
                  <label>Hora de Saída</label>
                  <input type="time" class="form-control" name="hr_out" value="{$refuel.hr_out}"/>
                </div>

                <div class="form-group">
                  <label>Hora de Chegada</label>
                  <input type="time" class="form-control" name="hr_in" value="{$refuel.hr_in}"/>
                </div>

                <div class="form-group">
                  <label>Quilometragem Anterior</label>
                  <input type="text" class="form-control" name="des_km_out" value="{function="formatPriceComma($refuel.des_km_out)"}" readonly>
                </div>

                <div class="form-group">
                  <label>Quilometragem</label>
                  <input type="text" class="form-control" name="des_km_in" placeholder="Digite a quilometragem do veículo no instante de chegada" value="{function="formatPriceComma($refuel.des_km_in)"}">
                </div>

                <div class="form-group">
                  <label>Fornecedor</label>
                  <select class="form-control select2" name="des_supplier_name">
                    {loop="$suppliers"}
                    <option {if="$value.des_name == $refuel.des_supplier_name"}selected{/if}>{$value.des_name}</option>
                    {/loop}
                  </select>
                </div>

                <div class="form-group">
                  <label>Quantidade de Combustível (Litros)</label>
                  <input type="text" class="form-control" name="qtd_fuel" placeholder="Digite quantos litros de combustível foram abastecidos" value="{function="formatPriceComma($refuel.qtd_fuel)"}">
                </div>

                <div class="form-group">
                  <label>Preço do Litro de Combustível (R$)</label>
                  <input type="text" class="form-control" name="vl_fuel" placeholder="Digite o preço do litro de combustível" value="{function="formatPriceComma($refuel.vl_fuel)"}">
                </div>

                <div class="form-group">
                  <label>Valor Total (R$)</label>
                  <input type="text" class="form-control" name="vl_total" placeholder="Digite o valor total do abastecimento" value="{function="formatPriceComma($refuel.vl_total)"}">
                </div>

                <div class="form-group">
                  <label>Número da Nota Fiscal</label>
                  <input type="text" class="form-control" name="nr_fiscal" placeholder="Digite o número da nota fiscal" value="{$refuel.nr_fiscal}">
                </div>

                <div class="form-group">
                  <label>Observações</label>
                  <input type="text" class="form-control" name="des_obs" placeholder="Descreva outros detalhes que achar conveniente (multa, problemas no veículo, etc)" value="{$refuel.des_obs}">
                </div>

              </div>

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Alterar Dados</button>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>