<div class="content-wrapper">
    <div class="content full">
      <div class="container h-100">
        <div class="row align-items-center h-100">
          <div class="col text-center text-light">

            <h1>Relatórios</h1>
            <p>Analise aqui os dados do almoxarifado.</p>

            <div class="row">

              <div class="col-lg-6 col-6">
                <div class="small-box bg-info-gradient">
                  <div class="inner">
                    <h4>Movimentações</h4>
                  </div>
                  <a href="/admin/warehouse/reports/entries" class="small-box-footer">
                    Clique aqui <i class="fa fa-arrow-circle-right"></i>
                  </a>
                </div>
              </div>

              <div class="col-lg-6 col-6">
                <div class="small-box bg-success-gradient">
                  <div class="inner">
                    <h4>SPED</h4>
                  </div>
                  <a href="/admin/warehouse/reports/SPED" class="small-box-footer">
                    Clique aqui <i class="fa fa-arrow-circle-right"></i>
                  </a>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>