<p>-------------------- SPED: Copie os dados a partir da próxima linha ----------------</p>
|0000|011|0|{$dates.dt_start}|{$dates.dt_finish}|GOMES E VIEIRA LTDA EPP|70320304000111||RN|200853686|2408102|1253778||A|1|<br>
|0001|0|<br>
|0005|E E Q ENGENHARIA E QUALIDADE|59056440|RUA EDGAR BARBOSA|125||NOVA DESCOBERTA|8432117996||lauracontabil@yahoo.com.br|<br>
|0100|MARIA DE SOUZA CABRAL|42999430400|4240||59020260|RUA MEIRA E SA|166|SALA 03|BARRO VERMELHO|8432110356|8432110356|lauracontabil@yahoo.com.br|2408102|<br>
{loop="$units"}
|0190|{$value.des_reduced_measure_unit}|{$value.des_measure_unit}|<br>
{/loop}
{loop="$products"}
|0200|{$value.id_product}|{$value.des_description}|||{$value.des_reduced_measure_unit}|00|{$value.des_NCM}||96||||<br>
{/loop}
|0990|{$qtd_block}|<br>
|C001|1|<br>
|C990|2|<br>
|D001|1|<br>
|D990|2|<br>
|E001|0|<br>
|E100|{$dates.dt_start}|{$dates.dt_finish}|<br>
|E110|0|0|0|0|0|0|0|0|0|0|0|0|0|0|<br>
|E990|4|<br>
|G001|1|<br>
|G990|2|<br>
|H001|0|<br>
|H005|{$dates.dt_finish}|{function="formatPriceComma($totalPrice)"}|01|<br>
{loop="$products"}
|H010|{$value.id_product}|{$value.des_reduced_measure_unit}|{function="formatPriceCommaDecimal($value.qtd)"}|{function="formatPriceCommaDecimal($value.vl_sell_price)"}|{function="formatPriceComma($value.vl_price)"}|0|||001|{function="formatPriceComma($value.vl_price)"}|<br>
{/loop}
|H990|{$qtd_inventory}|<br>
|K001|1|<br>
|K990|2|<br>
|1001|0|<br>
|1010|N|N|N|N|N|N|N|N|N|<br>
|1990|3|<br>
|9001|0|<br>
|9900|0000|1|<br>
|9900|0001|1|<br>
|9900|0005|1|<br>
|9900|0100|1|<br>
|9900|0190|{$total_units}|<br>
|9900|0200|{$total_products}|<br>
|9900|0990|1|<br>
|9900|C001|1|<br>
|9900|C990|1|<br>
|9900|D001|1|<br>
|9900|D990|1|<br>
|9900|E001|1|<br>
|9900|E100|1|<br>
|9900|E110|1|<br>
|9900|E990|1|<br>
|9900|G001|1|<br>
|9900|G990|1|<br>
|9900|H001|1|<br>
|9900|H005|1|<br>
|9900|H010|{$total_products}|<br>
|9900|H990|1|<br>
|9900|K001|1|<br>
|9900|K990|1|<br>
|9900|1001|1|<br>
|9900|1010|1|<br>
|9900|1990|1|<br>
|9900|9001|1|<br>
|9900|9990|1|<br>
|9900|9999|1|<br>
|9900|9900|30|<br>
|9990|33|<br>
|9999|{$totalLines}|
