<div class="container border-os header-os">
	<div class="row align-items-center justify-content-between">
		<div class="col-sm-auto">
			<img src="/resources/order/images/logo.png">
		</div>
		<div class="col">
			<h2>Abastecimentos</h2>
			<h1>Relatório de Consumo</h1>
		</div>
	</div>
</div>

<div class="container border-os infos-os">

	<div class="row">
		<div class="col">
			<p>Início: <strong>{$infos.dt_rstart}</strong></p>
		</div>
		<div class="col">
			<p>Fim: <strong>{$infos.dt_rfinish}</strong></p>
		</div>
		<div class="col">
			<p>Veículo: <strong>{$infos.des_description}</strong></p>
		</div>
	</div>

</div>

<table style="width:100%" class="container">

	<tr>
		<td><strong>DATA</strong></td>
		<td><strong>FORNECEDOR</strong></td>
		<td><strong>LITROS</strong></td>
		<td><strong>PREÇO (R$)</strong></td>
		<td><strong>TOTAL (R$)</strong></td>
		<td><strong>KM ANTES</strong></td>
		<td><strong>KM ATUAL</strong></td>
		<td><strong>DIFERENÇA</strong></td>
		<td><strong>CUSTO/KM</strong></td>
	</tr>

	{loop="$data"}
	<tr>
		<td>{$value.dt_travel}</td>
		<td>{$value.des_name}</td> 
		<td>{function="formatPriceComma($value.qtd_fuel)"}</td>
		<td>{function="formatPriceComma($value.vl_fuel)"}</td>
		<td>{function="formatPriceComma($value.vl_total)"}</td>
		<td>{function="formatPriceComma($value.des_km_out)"}</td>
		<td>{function="formatPriceComma($value.des_km_in)"}</td>
		<td>{function="formatPriceComma($value.diff)"}</td>
		<td>{function="formatPriceComma($value.cost)"}</td>
	</tr>
	{/loop}
</table>

<div class="container prices">
	<p>Total de Litros:: <strong>R$ {function="formatPriceComma($fuelTotal.fuel_total)"}</strong></p>
	<p>Gasto Total: <strong>R$ {function="formatPriceComma($priceTotal.price_total)"}</strong></p>
</div>